$contest-text-color: white;

.form-control {
  border-radius: 20px;
  box-shadow: 0 0 20px $pink;
  padding: 3px 0px 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $pink;
}

#ss-form{
  margin: 0 auto;
}
.ss-form{
max-width: 1170px;
text-align: left;
margin: 0 auto;
  .ss-q-title{
    font-size: 20px;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    color: $contest-text-color;
    font-weight: normal;
  }
  .ss-form-entry{
    // max-width: 700px;
  }

}

.disclaimer{
  color: $contest-text-color;
  // max-width: 400px;
  margin: 20px auto 10px auto;
  // text-align: left;
  a{
    text-decoration: none;
    color: white;
  }
}

.required-message{display: none;}


.redsubmit{
  font-size: 30px;
  font-weight: bold;
}

#navigation-table{
  margin: 0 auto !important;
}

.disneysubmit{
  margin: 0 auto;
  border: none;
  background-image: url(https://s3.amazonaws.com/myfangate.com/jem/enterbtn.png);
  margin: 20px 0 20px 0;
  background-color: transparent;
  background-size: cover;
}

// .form-control{
//   font-size: 30px;
//   height: 50px !important;
// }

.official-rules-link{
  margin: 20px 0;
  width: 100%;
  text-align: center;
  a{
    color: $contest-text-color;
    text-decoration: none;
  }
}

#rules-link{
  max-width: 810px;
  text-align: center;
  margin: 0 auto;  
  a{
    color: $pink;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    text-decoration: none;
  }
}

.thank-you{
    color: $pink;
    font-family: 'Gotham-Medium';
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}
