<div class="gate">
  <img class="logo" src="https://s3.amazonaws.com/myfangate.com/jem/header.png"><br>
  <!-- AGE GATE  -->
  <h2>Enter Your Birthday</h2>
  <br>
  <form id="age-gate" class="form-horizontal" onsubmit="return validateAge()" method="post">    
    <input type="date" class="age form-control" name="age" id="age"/><br>
    <input type="submit" class="btn btn-success" id="age-gate-submit">
  </form>
  <!-- CODE WORD GATE -->
  <br>
  <a href="https://s3.amazonaws.com/myfangate.com/1d1row/1D-1Row-Sweepstakes_OfficialRules.pdf" target="_blank">Official Rules</a>
</div>
