---
title: Jem & The Holograms
---
<div class="container">
	<div class="row header">
		<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/jem/header.png">
	</div>
	<div class="row cta text-center">
		<div class="col-lg-12">
			<h1>enter for a chance</h1>
			<h2>to take Jem's journey to making</h2>
			<h2>it big as a global superstar!</h2>
		</div>
	</div>
	<div class="row jem">
		<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/jem/jem.png">
	</div>
	<div class="row grand text-center">
		<h1>ONE (1) GRAND PRIZE</h1>
		<h2 class="gp-list">• Trip to Hollywood</h2>
		<h2 class="gp-list">• Makeover by a Hollywood stylist</h2>
		<h2 class="gp-list">• Shopping spree</h2>
		<h2 class="gp-list">• Meet & greet with Scooter Braun, one of the biggest managers in the music industry</h2>
	</div>
	<div class="row runner-up text-center">
		<h1>six (6) runner up</h1>
		<h1 class="daily-prizes">daily prizes</h1>
		<h2><span class="day">Day 1:</span> Movie passes to see Jem & The Holograms + digital soundtrack</h2>
		<h2><span class="day">Day 2:</span> Autographed movie poster + digital soundtrack</h2>
		<h2><span class="day">Day 3:</span> $100 beauty store giFT card + digital soundtrack</h2>
		<h2><span class="day">Day 4:</span> Autographed guitar + digital soundtrack</h2>
		<h2><span class="day">Day 5:</span> Limo ride to see Jem & The Holograms movie + digital soundtrack</h2>
		<h2><span class="day">Day 6:</span> Wardrobe/Props from Jem & The Holograms Movie + Digital Soundtrack<h2>		
	</div>	
</div>
<!-- Start Partials -->
<%= partial "partials/contest" %>
